@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

body {
    max-width: 500px;
    margin: auto;
    font-family: "Noto Sans KR", "Nanum Gothic";
    font-size: 12px;
}

h1 {
    font-size: 2rem;
    color: black;
    letter-spacing: 0.6rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

h2 {
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

h3 {
    font-size: 0.8rem;
    font-weight: 100;
    padding-bottom: 0.5rem;
}

h4 {
    font-weight: 0;
    padding-bottom: 0rem;
}

main {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 1rem;
}
header {
    text-align: center;
    margin: auto 2rem;
}

section {
    margin: auto 1rem 4rem 2rem;
}

p {
    margin: 0.2rem auto;
}

hr {
    border: none;
    background-color: lightgray;
    height: 1px;
}

h1, h2 {
    font-weight: 100;
    margin-bottom: 0;
}

i {
    margin-right: 0.5rem;
}

#mainLeft {
    border-right: 1px solid lightgray;
}